@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

/* INDEX */
header#navigation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    position: absolute;
    width: 100%;
}

img#logo {
    width: 20em;
}

a#login-btn {
    width: 10em;
    height: 3em;
    border-radius: 1em;
    border: 1px solid #001;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#main-content {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/image_estamosEmConstrução.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: yellow;
}

/* Registro */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

div#forms-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

div#forms-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 50em;
}

input {
    width: 50%;
    height: 3.5em;
    border: 1px solid #001;
    border-radius: 0.5em;
    background-color: #fff;
    color: #001;
    padding: 1em;
}

div.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

input#register-btn {

    background-color: #001;
    color: #fff;
}